.mainSectionE{
    height: 100vh;
    background: linear-gradient(90deg ,rgba(210, 105, 30, 0.671) ,rgba(114, 66, 32, 0.795)) ,url(/assets/image/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.headerE{
    height: 30px;
    background-color: rgba(210, 105, 30, 0.651);
    text-align: center;
}
.mainDivE{
    width: 1200px;
    height: 90%;
    background-color: rgba(0, 255, 255, 0);
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.imgE{
    width: 180px;
    height: 130px;
    margin-left: 50px;
    border: 5px solid chocolate;
    border-radius: 5px;
    transition: all 1s;
}
.imgE:hover{
    box-shadow: 0 0 50px black;
    transform: scale(1.2);
}
.footerE{
    background-color: chocolate;
    height: 30px;
    text-align: center;
}

